header {
  background-color: #343a40;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

td.time-slot {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

/* Estilos por preferencia */
.value-1 {
  background-color: #28a745 !important;
  color: white;
}

.value-2 {
  background-color: #ffc107 !important;
  color: black;
}

.value-3 {
  background-color: #dc3545 !important;
  color: white;
}
.time-slot {
  cursor: pointer;
  text-align: center;
  background-color: #dddddd;
}

.table {
  table-layout: fixed; /* Ensures all columns have the same width */
  width: 100%; /* Makes the table span the full width of its container */
}

.table th,
.table td {
  word-wrap: break-word; /* Ensures text wraps within the cell if it's too long */
}

.resaltado {
  background-color: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container.mt-5 {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
